@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* stylesheet */

:root{
--almostwhite: hsl(0, 0%, 98%);
--mediumgray: hsl(0, 0%, 41%);
--almostblack: hsl(0, 0%, 8%);
}

/* structure */

body {
    background-color: var(--almostwhite);
    font-family: 'epilogue' ;
}

.viewport {
    height: 100vh;
}

/* header */

.logo {
    cursor: pointer;
}

.icon-menu {
    display: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2.5em;
    font-size: 1em;
    
}

.main-menu {
    flex: 1;
    margin-left: 4em;
}


nav {
    list-style: none;
    display: flex;
    list-style-position: inside;
    padding-left: 0;
    gap: 2.5em
}

nav li {
    cursor: pointer;
}

nav li:first-child:after, nav li:nth-child(2):after {
    content: url(/images/icon-arrow-down.svg);
    margin-left: 0.5em;
}

button {
    background-color: var(--almostwhite);
    cursor: pointer;
}

button:hover {
    background-color: var(--almostblack);
    color: #fff;
}

.secondary-menu button:first-child {
    border: none;
}

.secondary-menu button:last-child {
    border: 1px solid black;
    border-radius: 13px;
    padding: 10px 20px;
    transition: 1s background-color ease;
}

/* body */

main {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    height: 75vh;
    gap: 10em;
}

/* section 1 */

.section1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 5.5em;
    line-height: 1.1em;
}

.section1 p {
    width: 80%;
    font-size: 18px;
    color: var(--mediumgray);
    font-weight: 700;
}

.hero-mobile {
    display: none;
}

.section1 button {
    width: 180px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 18px;
    transition: 1s background-color ease;
}

.clients {
    display: flex;
    gap: 3em;
    align-items: center;
}



/* responsive styles */

@media only screen and (max-width: 1000px) {
    main {
        width: 100%;
        display: block;
    }
    .hero-mobile{
        display: block;
    }
    .hero-desktop {
        display: none;
    }
    nav {
        display: none;
    }

    .icon-menu {
        display: block;
    }

    .section1 {
        text-align: center;
        margin: 2em auto 4em auto;
        display: flex;
        gap: 2em;
        padding: 1em;
    }

    .hero-mobile {
        width: 100%;
    }
    .section1 h1 {
        font-size: 3em;
    }
    .section1 p {
        text-align: center;
        margin: 0 auto;
    }
    .section1 button {
        margin: 0 auto;
    }
    .clients {
        margin: 0 auto;
    }
    .clients img {
        width: 70px;
        margin-bottom: 2em;
    }
    footer {
        margin-top: 4em ;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

/* reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


